.site-title {
    font-size: 45px;
    color: black;
}

h1 {
    font-size: 35px;
}

img {
    width: 356px;
    height: 356px;
    
}

p {
    font-size: 30px;
}

.column {
    float: left;
    border: 0px solid white;
    margin: 30px;
}


.box-model {
  margin: 5px;
  border: 10px solid black;
  padding: 10px;
  background-color: ;
}